<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.dao.mysql.PowerMapper">
  <resultMap id="BaseResultMap" type="com.tc.model.mysql.Power">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="p_dsc" jdbcType="VARCHAR" property="pDsc" />
    <result column="p_type" jdbcType="VARCHAR" property="pType" />
  </resultMap>
</mapper>