<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.dao.mysql.ShareInfoMapper">
  <resultMap id="BaseResultMap" type="com.tc.model.mysql.ShareInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="share_id" jdbcType="VARCHAR" property="shareId" />
    <result column="share_name" jdbcType="VARCHAR" property="shareName" />
    <result column="share_type" jdbcType="VARCHAR" property="shareType" />
    <result column="house" jdbcType="VARCHAR" property="house" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
  </resultMap>
</mapper>