<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.dao.mysql.UserPowerMapper">
  <resultMap id="BaseResultMap" type="com.tc.model.mysql.UserPower">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="up_id" jdbcType="INTEGER" property="upId" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="is_work" jdbcType="INTEGER" property="isWork" />
  </resultMap>
</mapper>