<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.dao.mysql.UsergroupUserMapper">
  <resultMap id="BaseResultMap" type="com.tc.model.mysql.UsergroupUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ugu_id" jdbcType="VARCHAR" property="uguId" />
    <result column="ug_id" jdbcType="VARCHAR" property="ugId" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="is_work" jdbcType="INTEGER" property="isWork" />
  </resultMap>
</mapper>